  #diff .change {
    margin-bottom:13px;
    border:1px solid #ddd;
    background:#fcfcfc;
    font-family:Courier,monospace;
    font-size:12px;
    border-radius:3px;
  }

  #diff .replace.left,
  #diff .delete.left {
    background:#fdd;
  }

  #diff .replace.right,
  #diff .insert.right {
    background:#dfd;
  }

  #diff .replace ins {
    color:#060;
    background:#bfb;
  }

  #diff .replace del {
    color:#a00;
    background:#fbb;
  }

  #diff h2 {
    background:none repeat scroll 0 0 #EEEEEE;
    border-bottom:1px solid #DDDDDD;
    color:#666966;
    font-size:11px;
    margin:0;
    padding:3px 6px 4px;
  }

  #diff ins,
  #diff del {
    text-decoration:none;
  }

  #diff dl {
    margin:0;
    padding:0;
  }

  #diff dt,
  #diff dd {
    margin:0;
    padding:2px 6px 1px;
  }